{% raw %}
{
  "__inputs": [
    {
      "name": "Prometheus",
      "label": "Prometheus",
      "description": "",
      "type": "datasource",
      "pluginId": "prometheus",
      "pluginName": "Prometheus"
    }
  ],
  "__requires": [
    {
      "type": "panel",
      "id": "gauge",
      "name": "Gauge",
      "version": ""
    },
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "7.3.4"
    },
    {
      "type": "panel",
      "id": "graph",
      "name": "Graph",
      "version": ""
    },
    {
      "type": "datasource",
      "id": "prometheus",
      "name": "Prometheus",
      "version": "1.0.0"
    },
    {
      "type": "panel",
      "id": "stat",
      "name": "Stat",
      "version": ""
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": ""
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "A Dashboard for Synology NAS based on SNMP and Prometheus",
  "editable": true,
  "gnetId": 13516,
  "graphTooltip": 0,
  "id": null,
  "iteration": 1607414232486,
  "links": [],
  "panels": [
    {
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {
            "align": null,
            "filterable": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Uptime"
            },
            "properties": [
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "decimals",
                "value": 2
              },
              {
                "id": "custom.align",
                "value": "left"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Upgrade Available"
            },
            "properties": [
              {
                "id": "custom.align",
                "value": "right"
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "Available",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "Unavailable",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "Connecting",
                    "to": "",
                    "type": 1,
                    "value": "3"
                  },
                  {
                    "from": "",
                    "id": 4,
                    "text": "Disconnected",
                    "to": "",
                    "type": 1,
                    "value": "4"
                  },
                  {
                    "from": "",
                    "id": 5,
                    "text": "Others",
                    "to": "",
                    "type": 1,
                    "value": "5"
                  }
                ]
              },
              {
                "id": "color"
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "red",
                      "value": null
                    },
                    {
                      "color": "green",
                      "value": 2
                    },
                    {
                      "color": "super-light-purple",
                      "value": 3
                    }
                  ]
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Internal Temperature"
            },
            "properties": [
              {
                "id": "custom.align",
                "value": "left"
              },
              {
                "id": "unit",
                "value": "celsius"
              },
              {
                "id": "custom.displayMode",
                "value": "gradient-gauge"
              },
              {
                "id": "max",
                "value": 80
              },
              {
                "id": "color"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 40
                    },
                    {
                      "color": "dark-red",
                      "value": 60
                    }
                  ]
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byRegexp",
              "options": "^.*Status$"
            },
            "properties": [
              {
                "id": "custom.align",
                "value": "center"
              },
              {
                "id": "custom.displayMode",
                "value": "color-background"
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "NORMAL",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "FAILED",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  }
                ]
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 2
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 3,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 184,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "sysUpTime{instance='$Device',job=\"nas\"}/100",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "uptime",
          "refId": "A"
        },
        {
          "expr": "upgradeAvailable{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        },
        {
          "expr": "temperature{job=\"nas\", instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "C"
        },
        {
          "expr": "cpuFanStatus{job=\"nas\",instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "D"
        },
        {
          "expr": "systemFanStatus{job=\"nas\",instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "E"
        },
        {
          "expr": "systemStatus{job=\"nas\",instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "F"
        },
        {
          "expr": "powerStatus{job=\"nas\",instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "G"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "",
      "transformations": [
        {
          "id": "seriesToColumns",
          "options": {
            "byField": "Time"
          }
        },
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "Value #A",
                "Value #B",
                "Value #C",
                "Value #D",
                "Value #E",
                "Value #F",
                "Value #G"
              ]
            }
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {},
            "indexByName": {
              "Value #A": 1,
              "Value #B": 6,
              "Value #C": 3,
              "Value #D": 4,
              "Value #E": 5,
              "Value #F": 0,
              "Value #G": 2
            },
            "renameByName": {
              "Value": "Uptime",
              "Value #A": "Uptime",
              "Value #B": "Upgrade Available",
              "Value #C": "Internal Temperature",
              "Value #D": "CPU Fan Status",
              "Value #E": "System Fan Status",
              "Value #F": "System Partition Status",
              "Value #G": "Power Status"
            }
          }
        }
      ],
      "transparent": true,
      "type": "table"
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 3
      },
      "id": 14,
      "panels": [],
      "title": "System State",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "decimals": 2,
          "mappings": [
            {
              "$$hashKey": "object:573",
              "id": 0,
              "op": "=",
              "text": "N/A",
              "type": 1,
              "value": "null"
            }
          ],
          "max": 100,
          "min": 0,
          "nullValueMode": "connected",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#299c46",
                "value": null
              },
              {
                "color": "rgba(237, 129, 40, 0.89)",
                "value": 70
              },
              {
                "color": "#d44a3a",
                "value": 90
              }
            ]
          },
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 4,
        "x": 0,
        "y": 4
      },
      "id": 33,
      "interval": null,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "ssCpuUser{job=\"nas\", instance='$Device'} + ssCpuSystem{job=\"nas\", instance='$Device'}",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "CPU Utilization",
      "type": "gauge"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 7,
        "x": 4,
        "y": 4
      },
      "hiddenSeries": false,
      "id": 11,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "laLoadInt{job=\"nas\",instance='$Device'}",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{laNames}}",
          "refId": "A"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Load",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:1102",
          "format": "percent",
          "label": "",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:1103",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "Idle": "blue",
        "System": "dark-red",
        "User": "dark-green"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 10,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 7,
        "x": 11,
        "y": 4
      },
      "hiddenSeries": false,
      "id": 23,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": true,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "ssCpuSystem{instance='$Device',job='nas'}",
          "interval": "",
          "legendFormat": "System",
          "refId": "A"
        },
        {
          "expr": "ssCpuUser{instance='$Device',job='nas'}",
          "interval": "",
          "legendFormat": "User",
          "refId": "C"
        },
        {
          "expr": "ssCpuIdle{instance='$Device',job='nas'}",
          "interval": "",
          "legendFormat": "Idle",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "CPU",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:1276",
          "format": "percent",
          "label": null,
          "logBase": 1,
          "max": "100",
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:1277",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": "100",
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "datasource": "${Prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "custom": {
            "align": null,
            "filterable": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Service"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 120
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 6,
        "w": 6,
        "x": 18,
        "y": 4
      },
      "id": 158,
      "options": {
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Connected Users"
          }
        ]
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "serviceUsers{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "",
      "transformations": [
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "serviceName",
                "Value"
              ]
            }
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {},
            "indexByName": {},
            "renameByName": {
              "Value": "Connected Users",
              "serviceName": "Service"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 10
      },
      "id": 99,
      "panels": [],
      "title": "System Memory",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "decimals": 2,
          "mappings": [
            {
              "$$hashKey": "object:573",
              "id": 0,
              "op": "=",
              "text": "N/A",
              "type": 1,
              "value": "null"
            }
          ],
          "max": 1,
          "min": 0,
          "nullValueMode": "connected",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#299c46",
                "value": null
              },
              {
                "color": "rgba(237, 129, 40, 0.89)",
                "value": 0.7
              },
              {
                "color": "#d44a3a",
                "value": 0.8
              }
            ]
          },
          "unit": "percentunit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 4,
        "x": 0,
        "y": 11
      },
      "id": 117,
      "interval": null,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "(memTotalReal{job=\"nas\", instance='$Device'} - (memAvailReal{job=\"nas\", instance='$Device'} + memCached{job=\"nas\", instance='$Device'} + memBuffer{job=\"nas\", instance='$Device'})) / memTotalReal{job=\"nas\", instance='$Device'}",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Memory Usage",
      "type": "gauge"
    },
    {
      "aliasColors": {
        "Free Virtual Memory": "dark-green",
        "Total Virtual Memory": "dark-red",
        "Used Virtual Memory": "dark-orange"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 10,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 7,
        "x": 4,
        "y": 11
      },
      "hiddenSeries": false,
      "id": 115,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:2935",
          "alias": "Total Virtual Memory",
          "fill": 0,
          "linewidth": 3,
          "stack": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "memTotalReal{instance='$Device',job=\"nas\"} + memTotalSwap{instance='$Device',job=\"nas\"} - memTotalFree{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Used Virtual Memory",
          "refId": "B"
        },
        {
          "expr": "memTotalFree{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Free Virtual Memory",
          "refId": "A"
        },
        {
          "expr": "memTotalReal{instance='$Device',job=\"nas\"} + memTotalSwap{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Total Virtual Memory",
          "refId": "F"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Virtual Memory",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:2907",
          "format": "deckbytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:2908",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "Available": "dark-green",
        "Cached": "super-light-yellow",
        "Reserved": "light-red",
        "Shared": "dark-purple",
        "Total": "dark-red"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 10,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 6,
        "x": 11,
        "y": 11
      },
      "hiddenSeries": false,
      "id": 114,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:2935",
          "alias": "Total",
          "fill": 0,
          "linewidth": 3,
          "stack": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "memTotalReal{instance='$Device',job=\"nas\"} - (memShared{instance='$Device',job=\"nas\"} + memCached{instance='$Device',job=\"nas\"} + memBuffer{instance='$Device',job=\"nas\"} + memAvailReal{instance='$Device',job=\"nas\"})",
          "hide": false,
          "interval": "",
          "legendFormat": "Reserved",
          "refId": "E"
        },
        {
          "expr": "memAvailReal{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Available",
          "refId": "A"
        },
        {
          "expr": "memBuffer{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Buffer",
          "refId": "B"
        },
        {
          "expr": "memCached{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Cached",
          "refId": "C"
        },
        {
          "expr": "memShared{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Shared",
          "refId": "D"
        },
        {
          "expr": "memTotalReal{instance='$Device',job=\"nas\"} ",
          "hide": false,
          "interval": "",
          "legendFormat": "Total",
          "refId": "F"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Physical Memory",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:2907",
          "format": "deckbytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:2908",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "Available": "green",
        "Free Virtual Memory": "dark-green",
        "Total": "dark-red",
        "Total Virtual Memory": "dark-red",
        "Used": "yellow",
        "Used Swap Memory": "dark-red",
        "Used Virtual Memory": "dark-orange"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 10,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 7,
        "x": 17,
        "y": 11
      },
      "hiddenSeries": false,
      "id": 116,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": null,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:2935",
          "alias": "Total",
          "fill": 0,
          "linewidth": 3,
          "stack": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "memTotalSwap{instance='$Device',job=\"nas\"} - memAvailSwap{instance='$Device',job=\"nas\"}",
          "instant": false,
          "interval": "",
          "legendFormat": "Used",
          "refId": "A"
        },
        {
          "expr": "memAvailSwap{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Available",
          "refId": "B"
        },
        {
          "expr": "memTotalSwap{instance='$Device',job=\"nas\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Total",
          "refId": "F"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Swap Usage",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:2907",
          "format": "deckbytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:2908",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 17
      },
      "id": 76,
      "panels": [],
      "title": "Internals",
      "type": "row"
    },
    {
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {
            "align": null,
            "filterable": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Admin Status"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "UP",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "DOWN",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "TESTING",
                    "to": "",
                    "type": 1,
                    "value": "3"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 2
                    },
                    {
                      "color": "#EAB839",
                      "value": 3
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              },
              {
                "id": "custom.width",
                "value": 100
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Connector"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "Present",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "Absent",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 2
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              },
              {
                "id": "custom.width",
                "value": 100
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Speed"
            },
            "properties": [
              {
                "id": "unit",
                "value": "bps"
              },
              {
                "id": "decimals",
                "value": 0
              },
              {
                "id": "custom.width",
                "value": 100
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Operational Status"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "UP",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "DOWN",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "TESTING",
                    "to": "",
                    "type": 1,
                    "value": "3"
                  },
                  {
                    "from": "",
                    "id": 4,
                    "text": "UNKNOWN",
                    "to": "",
                    "type": 1,
                    "value": "4"
                  },
                  {
                    "from": "",
                    "id": 5,
                    "text": "DORMANT",
                    "to": "",
                    "type": 1,
                    "value": "5"
                  },
                  {
                    "from": "",
                    "id": 6,
                    "text": "NOT PRESENT",
                    "to": "",
                    "type": 1,
                    "value": "6"
                  },
                  {
                    "from": "",
                    "id": 7,
                    "text": "LOWER LAYER DOWN",
                    "to": "",
                    "type": 1,
                    "value": "7"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-background"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 2
                    },
                    {
                      "color": "#EAB839",
                      "value": 3
                    },
                    {
                      "color": "dark-red",
                      "value": 7
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 11,
        "x": 0,
        "y": 18
      },
      "id": 210,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "ifPhysAddress{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "expr": "ifAdminStatus{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        },
        {
          "expr": "ifConnectorPresent{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "C"
        },
        {
          "expr": "ifSpeed{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "D"
        },
        {
          "expr": "ifOperStatus{instance='$Device',job=\"nas\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "E"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "",
      "transformations": [
        {
          "id": "seriesToColumns",
          "options": {
            "byField": "ifName"
          }
        },
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "ifName",
                "ifPhysAddress",
                "Value #B",
                "Value #C",
                "Value #D",
                "Value #E"
              ]
            }
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {},
            "indexByName": {
              "Value #B": 3,
              "Value #C": 4,
              "Value #D": 5,
              "Value #E": 2,
              "ifName": 0,
              "ifPhysAddress": 1
            },
            "renameByName": {
              "Value #B": "Admin Status",
              "Value #C": "Connector",
              "Value #D": "Speed",
              "Value #E": "Operational Status",
              "ifName": "Device Name",
              "ifPhysAddress": "MAC Address"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {
            "align": null,
            "filterable": false
          },
          "mappings": [],
          "max": 80,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "dark-yellow",
                "value": 35
              },
              {
                "color": "dark-red",
                "value": 50
              }
            ]
          },
          "unit": "celsius"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Disk"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "auto"
              },
              {
                "id": "custom.width",
                "value": 150
              },
              {
                "id": "custom.align",
                "value": "left"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Temperature"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "gradient-gauge"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Disk Type"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 100
              },
              {
                "id": "custom.align",
                "value": "left"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Disk Status"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "Normal",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "Initialized",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "NotInitialized",
                    "to": "",
                    "type": 1,
                    "value": "3"
                  },
                  {
                    "from": "",
                    "id": 4,
                    "text": "SystemPartitionFailed",
                    "to": "",
                    "type": 1,
                    "value": "4"
                  },
                  {
                    "from": "",
                    "id": 5,
                    "text": "Crashed",
                    "to": "",
                    "type": 1,
                    "value": "5"
                  }
                ]
              },
              {
                "id": "custom.width",
                "value": 150
              },
              {
                "id": "custom.align",
                "value": "left"
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "color"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "dark-yellow",
                      "value": 2
                    },
                    {
                      "color": "dark-red",
                      "value": 4
                    }
                  ]
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Disk Model"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 200
              },
              {
                "id": "custom.align",
                "value": "left"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 13,
        "x": 11,
        "y": 18
      },
      "id": 132,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "7.3.4",
      "targets": [
        {
          "expr": "diskTemperature{job=\"nas\", instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "expr": "diskType{job=\"nas\", instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        },
        {
          "expr": "diskStatus{job=\"nas\", instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "C"
        },
        {
          "expr": "diskModel{job=\"nas\", instance='$Device'}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "D"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "",
      "transformations": [
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "diskID",
                "Value #A",
                "diskType",
                "Value #C",
                "diskModel"
              ]
            }
          }
        },
        {
          "id": "seriesToColumns",
          "options": {
            "byField": "diskID"
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {},
            "indexByName": {
              "Value #A": 4,
              "Value #C": 3,
              "diskID": 0,
              "diskModel": 2,
              "diskType": 1
            },
            "renameByName": {
              "Value #A": "Temperature",
              "Value #C": "Disk Status",
              "diskID": "Disk",
              "diskModel": "Disk Model",
              "diskType": "Disk Type"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 26
      },
      "id": 19,
      "panels": [],
      "repeat": "raidName",
      "title": "Volume $raidName",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "datasource": "${Prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "mappings": [
            {
              "$$hashKey": "object:1815",
              "id": 0,
              "op": "=",
              "text": "Normal",
              "type": 1,
              "value": "1"
            },
            {
              "$$hashKey": "object:1816",
              "id": 1,
              "op": "=",
              "text": "Repairing",
              "type": 1,
              "value": "2"
            },
            {
              "$$hashKey": "object:1817",
              "id": 2,
              "op": "=",
              "text": "Migrating",
              "type": 1,
              "value": "3"
            },
            {
              "$$hashKey": "object:1818",
              "id": 3,
              "op": "=",
              "text": "Expanding",
              "type": 1,
              "value": "4"
            },
            {
              "$$hashKey": "object:1819",
              "id": 4,
              "op": "=",
              "text": "Deleting",
              "type": 1,
              "value": "5"
            },
            {
              "$$hashKey": "object:1820",
              "id": 5,
              "op": "=",
              "text": "Creating",
              "type": 1,
              "value": "6"
            },
            {
              "$$hashKey": "object:1821",
              "id": 6,
              "op": "=",
              "text": "RaidSyncing",
              "type": 1,
              "value": "7"
            },
            {
              "$$hashKey": "object:1822",
              "id": 7,
              "op": "=",
              "text": "RaidParityChecking",
              "type": 1,
              "value": "8"
            },
            {
              "$$hashKey": "object:1823",
              "id": 8,
              "op": "=",
              "text": "RaidAssembling",
              "type": 1,
              "value": "9"
            },
            {
              "$$hashKey": "object:1824",
              "id": 9,
              "op": "=",
              "text": "Canceling",
              "type": 1,
              "value": "10"
            },
            {
              "$$hashKey": "object:1825",
              "id": 10,
              "op": "=",
              "text": "Degrade",
              "type": 1,
              "value": "11"
            },
            {
              "$$hashKey": "object:1826",
              "id": 11,
              "op": "=",
              "text": "Crashed",
              "type": 1,
              "value": "12"
            }
          ],
          "nullValueMode": "connected",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#299c46",
                "value": null
              },
              {
                "color": "rgba(237, 129, 40, 0.89)",
                "value": 2
              },
              {
                "color": "#d44a3a",
                "value": 10
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 5,
        "x": 0,
        "y": 27
      },
      "id": 9,
      "interval": null,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "value"
      },
      "pluginVersion": "7.3.4",
      "repeat": null,
      "repeatDirection": "h",
      "targets": [
        {
          "expr": "raidStatus{job=\"nas\",instance='$Device',raidName='$raidName'}",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "",
      "type": "stat"
    },
    {
      "aliasColors": {
        "0x566F6C756D652031 Free Size": "dark-green",
        "0x566F6C756D652031 Total Size": "yellow",
        "Free Size": "dark-green",
        "Total Size": "orange"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 10,
      "fillGradient": 0,
      "gridPos": {
        "h": 5,
        "w": 19,
        "x": 5,
        "y": 27
      },
      "hiddenSeries": false,
      "id": 26,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "maxPerRow": 6,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "repeat": null,
      "repeatDirection": "h",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "raidTotalSize{instance='$Device',job=\"nas\",raidName=~'$raidName'}",
          "interval": "",
          "legendFormat": "Total Size",
          "refId": "A"
        },
        {
          "expr": "raidFreeSize{instance='$Device',job=\"nas\",raidName=~'$raidName'}",
          "interval": "",
          "legendFormat": "Free Size",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:1861",
          "format": "bytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:1862",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 32
      },
      "id": 39,
      "panels": [],
      "repeat": "spaceIODevice",
      "title": "Volume $spaceIODevice",
      "type": "row"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 33
      },
      "hiddenSeries": false,
      "id": 45,
      "interval": "30s",
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:5137",
          "alias": "Written Bytes",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rate(spaceIONReadX{instance='$Device',job=\"nas\",spaceIODevice=~\"$spaceIODevice\"}[$__interval])",
          "interval": "",
          "legendFormat": "Read Bytes",
          "refId": "A"
        },
        {
          "expr": "rate(spaceIONWrittenX{instance='$Device',job=\"nas\",spaceIODevice=~\"$spaceIODevice\"}[$__interval])",
          "interval": "",
          "legendFormat": "Written Bytes",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Volume Throughput",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:5109",
          "format": "Bps",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:5110",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 33
      },
      "hiddenSeries": false,
      "id": 46,
      "interval": "30s",
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:5137",
          "alias": "Written Bytes",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rate(spaceIOReads{instance='$Device',job=\"nas\",spaceIODevice=~\"$spaceIODevice\"}[$__interval])",
          "interval": "",
          "legendFormat": "Read Bytes",
          "refId": "A"
        },
        {
          "expr": "rate(spaceIOWrites{instance='$Device',job=\"nas\",spaceIODevice=~\"$spaceIODevice\"}[$__interval])",
          "interval": "",
          "legendFormat": "Written Bytes",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Volume IOPS",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:5109",
          "format": "iops",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:5110",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 41
      },
      "id": 28,
      "panels": [],
      "repeat": "storageIODevice",
      "title": "Device $storageIODevice",
      "type": "row"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 0,
        "y": 42
      },
      "hiddenSeries": false,
      "id": 30,
      "interval": "30s",
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:2925",
          "alias": "Written Bytes",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rate(storageIONReadX{instance='$Device',job=\"nas\",storageIODevice=~'$storageIODevice'}[$__interval])",
          "interval": "",
          "legendFormat": "Read Bytes",
          "refId": "A"
        },
        {
          "expr": "rate(storageIONWrittenX{instance='$Device',job=\"nas\",storageIODevice=~'$storageIODevice'}[$__interval])",
          "interval": "",
          "legendFormat": "Written Bytes",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Device Throughput",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:2897",
          "format": "Bps",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:2898",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 12,
        "y": 42
      },
      "hiddenSeries": false,
      "id": 31,
      "interval": "30s",
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:3018",
          "alias": "Write IOPS",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "irate(storageIOReads{instance='$Device',job=\"nas\",storageIODevice=~'$storageIODevice'}[$__interval])",
          "interval": "",
          "legendFormat": "Read IOPS",
          "refId": "A"
        },
        {
          "expr": "irate(storageIOWrites{instance='$Device',job=\"nas\",storageIODevice=~'$storageIODevice'}[$__interval])",
          "interval": "",
          "legendFormat": "Write IOPS",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Device IOPS",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:2897",
          "format": "iops",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:2898",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": "${Prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 97
      },
      "id": 17,
      "panels": [],
      "repeat": "Interface",
      "title": "Networking ($Interface)",
      "type": "row"
    },
    {
      "aliasColors": {
        "Out": "#C15C17"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "description": "",
      "editable": true,
      "error": false,
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 0,
        "y": 98
      },
      "hiddenSeries": false,
      "id": 1,
      "interval": "30s",
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "maxPerRow": 2,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "repeat": null,
      "repeatDirection": "h",
      "seriesOverrides": [
        {
          "$$hashKey": "object:803",
          "alias": "/^.*Out$/",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rate(ifHCInOctets{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval]) or rate(ifInOctets{job='snmp',instance='$Device',ifName=~'$Interface'}[$__interval]) ",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "$Interface In",
          "refId": "A",
          "step": 60
        },
        {
          "expr": "rate(ifHCOutOctets{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval]) or rate(ifOutOctets{job='snmp',instance='$Device',ifName=~'$Interface'}[$__interval]) ",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "$Interface Out",
          "refId": "B",
          "step": 60
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Traffic",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:671",
          "format": "bps",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:672",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "Out": "#C15C17"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${Prometheus}",
      "description": "",
      "editable": true,
      "error": false,
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 12,
        "y": 98
      },
      "hiddenSeries": false,
      "id": 68,
      "interval": "30s",
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "maxPerRow": 2,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.4",
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "repeatDirection": "h",
      "seriesOverrides": [
        {
          "$$hashKey": "object:803",
          "alias": "/^.*Out$/",
          "transform": "negative-Y"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rate(ifInDiscards{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval])",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Discards In",
          "refId": "A",
          "step": 60
        },
        {
          "expr": "rate(ifInErrors{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval])",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Errors In",
          "refId": "B",
          "step": 60
        },
        {
          "expr": "rate(ifOutDiscards{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval])",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Discards Out",
          "refId": "C",
          "step": 60
        },
        {
          "expr": "rate(ifOutErrors{job='nas',instance='$Device',ifName=~'$Interface'}[$__interval])",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Errors Out",
          "refId": "D",
          "step": 60
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Errors",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:671",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:672",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }
  ],
  "refresh": "1m",
  "schemaVersion": 26,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {},
        "datasource": "${Prometheus}",
        "definition": "query_result(ssCpuUser{job=\"nas\"})",
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": null,
        "multi": false,
        "name": "Device",
        "options": [],
        "query": "query_result(ssCpuUser{job=\"nas\"})",
        "refresh": 1,
        "regex": ".*instance=\"(.*?)\".*",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "${Prometheus}",
        "definition": "query_result(ifName{job=\"nas\",instance=\"$Device\"})",
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": null,
        "multi": true,
        "name": "Interface",
        "options": [],
        "query": "query_result(ifName{job=\"nas\",instance=\"$Device\"})",
        "refresh": 1,
        "regex": ".*ifName=\"(.*?)\",.*",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "${Prometheus}",
        "definition": "query_result(raidName{job=\"nas\",instance=\"$Device\"})",
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": "Volume ID",
        "multi": true,
        "name": "raidName",
        "options": [],
        "query": "query_result(raidName{job=\"nas\",instance=\"$Device\"})",
        "refresh": 2,
        "regex": ".*raidName=\"(.*?)\".*",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "${Prometheus}",
        "definition": "query_result(storageIODevice{job=\"nas\",instance=\"$Device\"})",
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": "Disk",
        "multi": true,
        "name": "storageIODevice",
        "options": [],
        "query": "query_result(storageIODevice{job=\"nas\",instance=\"$Device\"})",
        "refresh": 2,
        "regex": ".*storageIODevice=\"(.*?)\".*",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "${Prometheus}",
        "definition": "query_result(spaceIODevice{job=\"nas\",instance=\"$Device\"})",
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": "Volume Name",
        "multi": true,
        "name": "spaceIODevice",
        "options": [],
        "query": "query_result(spaceIODevice{job=\"nas\",instance=\"$Device\"})",
        "refresh": 2,
        "regex": ".*spaceIODevice=\"(.*?)\".*",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-24h",
    "to": "now"
  },
  "timepicker": {
    "hidden": false,
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "browser",
  "title": "Synology SNMP DashBoard",
  "uid": "N4Cl097iz",
  "version": 78
}
{% endraw %}
