export UNIFI_USER=CHANGEME
export UNIFI_USER=CHANGEME
export UP_UNIFI_DEFAULT_USER=CHANGEME
export UNIFI_PASS=CHANGEME
export UP_UNIFI_DEFAULT_PASS=CHANGEME
export UP_UNIFI_CONTROLLER_0_USER="CHANGEME"
export UP_UNIFI_CONTROLLER_0_PASS=CHANGEME
export TELEGRAM_CHAT_ID="CHANGEME"
export TELEGRAM_TOKEN="CHANGEME"
export PVE_TOKEN_NAME='CHANGEME'
export PVE_TOKEN_VALUE="CHANGEME"
export PVE_USER="CHANGEME"
export PVE_PASSWORD="CHANGEME"
