{% raw %}
route:
  # receiver: 'slack'
  receiver: 'default-receiver'
  group_wait: 30s
  group_interval: 30m
  group_by: [ alertname ]

receivers:
# - name: 'slack'
  - name: 'default-receiver'
  - name: "telegram"
    webhook_configs:
      - url: "http://alertmanager-telegram:8585/alerts"
        send_resolved: true
{% endraw %}
