groups:
  - name: syslog-rate-alerting
    rules:
      - alert: HighLogRate
        annotations:
          action: action
          dashboard: https://grafana.com/service-dashboard
          description: something is logging a lot
          impact: impact
          logurl: https://grafana.com/log-explorer
          runbook: https://wiki.com
          title: High LogRate Alert
        expr: |
          sum by (job, host)
            (rate({job="syslog"}[1m]))
            > 60
        for: 1m
        labels:
          category: logs
          severity: warning
          team: devops
