{% raw %}
{
  "__inputs": [
    {
      "name": "Prometheus",
      "label": "Prometheus",
      "description": "2.24.1",
      "type": "datasource",
      "pluginId": "prometheus",
      "pluginName": "Prometheus"
    },
    {
      "name": "DS_LOKI",
      "label": "Loki",
      "description": "2.7.3",
      "type": "datasource",
      "pluginId": "loki",
      "pluginName": "Loki"
    }
  ],
  "__elements": {},
  "__requires": [
    {
      "type": "panel",
      "id": "bargauge",
      "name": "Bar gauge",
      "version": ""
    },
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "9.3.6"
    },
    {
      "type": "datasource",
      "id": "loki",
      "name": "Loki",
      "version": "2.7.3"
    },
    {
      "type": "panel",
      "id": "piechart",
      "name": "Pie chart",
      "version": ""
    },
    {
      "type": "datasource",
      "id": "prometheus",
      "name": "Prometheus",
      "version": "2.24.1"
    },
    {
      "type": "panel",
      "id": "stat",
      "name": "Stat",
      "version": ""
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": ""
    },
    {
      "type": "panel",
      "id": "text",
      "name": "Text",
      "version": ""
    },
    {
      "type": "panel",
      "id": "timeseries",
      "name": "Time series",
      "version": ""
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Total Queries"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#1d8bb7",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Cache Hits"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#4fb07ce6",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Cache Miss"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#b59151eb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Prefetch"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#4fb07ce6",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Expired"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#a871a7f0",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 3,
        "w": 9,
        "x": 0,
        "y": 0
      },
      "id": 102,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 16
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_queries_total{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "Total Queries",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_cache_hit_total{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Cache Hits",
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_cache_miss_total{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Cache Miss",
          "range": false,
          "refId": "C"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_prefetch_total{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Prefetch",
          "range": false,
          "refId": "D"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_expired_total{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Expired",
          "range": false,
          "refId": "E"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Uptime"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#4fb07ce6",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Threads"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#a871a7f0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Lookup Avg"
            },
            "properties": [
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#1d8bb7",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Req Max"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#839e4de0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Req Avg"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#839e4de0",
                  "mode": "fixed"
                }
              },
              {
                "id": "decimals",
                "value": 2
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 3,
        "w": 9,
        "x": 9,
        "y": 0
      },
      "id": 156,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "/.*/",
          "values": false
        },
        "text": {
          "titleSize": 16,
          "valueSize": 23
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_time_up_seconds{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "count(unbound_request_list_current_user{job=\"unbound\"})",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_recursion_time_avg_seconds{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "C"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_request_list_max{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "D"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_request_list_avg{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "E"
        }
      ],
      "transformations": [
        {
          "id": "labelsToFields",
          "options": {
            "keepLabels": [
              "Uptime"
            ]
          }
        },
        {
          "id": "joinByField",
          "options": {}
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true,
              "Value 1": true
            },
            "indexByName": {
              "Time": 5,
              "Uptime": 0,
              "Value 1": 6,
              "Value 2": 1,
              "Value 3": 2,
              "Value 4": 3,
              "Value 5": 4
            },
            "renameByName": {
              "Value 1": "",
              "Value 2": "Threads",
              "Value 3": "Lookup Avg",
              "Value 4": "Req Max",
              "Value 5": "Req Avg"
            }
          }
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#808080",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Metrics"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "0": {
                        "color": "#deb9bde6",
                        "index": 1,
                        "text": "DOWN ꜜ"
                      },
                      "1": {
                        "color": "#bfd4bbe6",
                        "index": 0,
                        "text": "UP ꜛ"
                      }
                    },
                    "type": "value"
                  },
                  {
                    "options": {
                      "match": "null+nan",
                      "result": {
                        "color": "#deb9bde6",
                        "index": 2,
                        "text": "DOWN ꜜ"
                      }
                    },
                    "type": "special"
                  }
                ]
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Scrape"
            },
            "properties": [
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#e8e5e5b8",
                  "mode": "fixed"
                }
              },
              {
                "id": "noValue",
                "value": "..."
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 1,
        "w": 4,
        "x": 20,
        "y": 0
      },
      "id": 160,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "vertical",
        "reduceOptions": {
          "calcs": [
            "last"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 14,
          "valueSize": 15
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "up{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "Metrics",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "scrape_duration_seconds{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Scrape",
          "range": false,
          "refId": "B"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#f7d4a3ad",
                "value": null
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 0,
        "y": 3
      },
      "id": 166,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 16,
          "valueSize": 25
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_blocklist_domain_count{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "Blocklist Domains",
          "range": false,
          "refId": "A"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#73BF69",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Cache Hits"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#bbe0b4bd",
                  "mode": "fixed"
                }
              },
              {
                "id": "unit",
                "value": "percent"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Cache Miss"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#e6ddafbd",
                  "mode": "fixed"
                }
              },
              {
                "id": "unit",
                "value": "percent"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 3,
        "y": 3
      },
      "id": 150,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 15,
          "valueSize": 18
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_cache_hit_total{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "hit",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_cache_miss_total{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "miss",
          "range": false,
          "refId": "B"
        }
      ],
      "transformations": [
        {
          "id": "calculateField",
          "options": {
            "binary": {
              "left": "hit",
              "reducer": "sum",
              "right": "miss"
            },
            "mode": "reduceRow",
            "reduce": {
              "include": [
                "miss",
                "hit"
              ],
              "reducer": "sum"
            }
          }
        },
        {
          "id": "calculateField",
          "options": {
            "binary": {
              "left": "hit",
              "operator": "*",
              "reducer": "sum",
              "right": "100"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "calculateField",
          "options": {
            "binary": {
              "left": "miss",
              "operator": "*",
              "reducer": "sum",
              "right": "100"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "calculateField",
          "options": {
            "alias": "Cache Hits",
            "binary": {
              "left": "hit * 100",
              "operator": "/",
              "reducer": "sum",
              "right": "Total"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "calculateField",
          "options": {
            "alias": "Cache Miss",
            "binary": {
              "left": "miss * 100",
              "operator": "/",
              "reducer": "sum",
              "right": "Total"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "Cache Hits",
                "Cache Miss"
              ]
            }
          }
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#b2e8f09e",
                "value": null
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 6,
        "y": 3
      },
      "id": 169,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 15,
          "valueSize": 18
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_query_udpout_count{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "UDP Out",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_query_tcpout_count{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "TCP Out",
          "range": false,
          "refId": "B"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#b2e8f09e",
                "value": null
              }
            ]
          },
          "unit": "decbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 9,
        "y": 3
      },
      "id": 168,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 15,
          "valueSize": 18
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "sum(unbound_memory_caches_bytes{job=\"unbound\"})",
          "instant": true,
          "legendFormat": "Cache Mem",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "sum(unbound_memory_modules_bytes{job=\"unbound\"})",
          "hide": false,
          "instant": true,
          "legendFormat": "Modules Mem",
          "range": false,
          "refId": "B"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#b2e8f09e",
                "value": null
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 12,
        "y": 3
      },
      "id": 108,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 15,
          "valueSize": 18
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_msg_cache_count{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "Msg Cache",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_rrset_cache_count{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "RRset Cache",
          "range": false,
          "refId": "B"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#b2e8f09e",
                "value": null
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 3,
        "x": 15,
        "y": 3
      },
      "id": 119,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 15,
          "valueSize": 18
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_infra_cache_count{job=\"unbound\"}",
          "instant": true,
          "legendFormat": "Infra Cache",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_key_cache_count{job=\"unbound\"}",
          "hide": false,
          "instant": true,
          "legendFormat": "Key Cache",
          "range": false,
          "refId": "B"
        }
      ],
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "gridPos": {
        "h": 1,
        "w": 9,
        "x": 0,
        "y": 5
      },
      "id": 70,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "",
        "mode": "html"
      },
      "pluginVersion": "9.3.6",
      "title": "⧉ Response Time Buckets",
      "type": "text"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "gridPos": {
        "h": 1,
        "w": 9,
        "x": 9,
        "y": 5
      },
      "id": 72,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "",
        "mode": "markdown"
      },
      "pluginVersion": "9.3.6",
      "title": "⧉ Recursion Time",
      "type": "text"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#7aa2b2",
            "mode": "thresholds"
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "#3caa82cc",
                "value": 0
              },
              {
                "color": "#3caa8ccc",
                "value": 10
              },
              {
                "color": "#3caa96cc",
                "value": 20
              },
              {
                "color": "#3caaa0cc",
                "value": 30
              },
              {
                "color": "#3caaaacc",
                "value": 40
              },
              {
                "color": "#3caab4cc",
                "value": 50
              },
              {
                "color": "#3caabecc",
                "value": 60
              },
              {
                "color": "#3caac8cc",
                "value": 70
              },
              {
                "color": "#3caad2cc",
                "value": 80
              },
              {
                "color": "#3caadccc",
                "value": 90
              },
              {
                "color": "#3caae6cc",
                "value": 100
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "131 ms - 262 ms"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "131 ms - 262  ms"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 6,
        "w": 9,
        "x": 0,
        "y": 6
      },
      "id": 58,
      "interval": "5m",
      "options": {
        "displayMode": "lcd",
        "minVizHeight": 10,
        "minVizWidth": 0,
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showUnfilled": true,
        "text": {
          "titleSize": 11,
          "valueSize": 12
        }
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_response_time_buckets{job=\"unbound\"} > 0",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "legendFormat": "{{lower}} - {{upper}}",
          "range": false,
          "refId": "A"
        }
      ],
      "type": "bargauge"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 16,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 3,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "s"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Avg"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#d4bc66a6",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Median"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#6cb0e6cc",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 6,
        "w": 9,
        "x": 9,
        "y": 6
      },
      "id": 44,
      "interval": "10m",
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "expr": "unbound_recursion_time_avg_seconds{job=\"unbound\"}",
          "legendFormat": "Avg",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "expr": "unbound_recursion_time_median_seconds{job=\"unbound\"}",
          "hide": false,
          "legendFormat": "Median",
          "range": true,
          "refId": "B"
        }
      ],
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            }
          },
          "mappings": [],
          "noValue": "...",
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "A"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#48cc69eb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "HTTPS"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3ba0dbeb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "AAAA"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#c1bd5feb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "PTR"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#db8f3be0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "SRV"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#c75883eb",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 0,
        "y": 12
      },
      "id": 20,
      "options": {
        "displayLabels": [],
        "legend": {
          "displayMode": "table",
          "placement": "right",
          "showLegend": true,
          "values": [
            "value"
          ]
        },
        "pieType": "donut",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_query_types_count{job=\"unbound\"} > 0",
          "instant": true,
          "legendFormat": "{{type}}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "⧉ Query Types",
      "type": "piechart"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${Prometheus}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            }
          },
          "mappings": [],
          "noValue": "...",
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "NOERROR"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#48cc69eb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "nodata"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#c75883eb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "secure"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3ba0dbeb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "NXDOMAIN"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#c1bd5feb",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "SERVFAIL"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#db8f3be0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "REFUSED"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#5063c2",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 6,
        "y": 12
      },
      "id": 22,
      "options": {
        "displayLabels": [],
        "legend": {
          "displayMode": "table",
          "placement": "right",
          "showLegend": true,
          "values": [
            "value"
          ]
        },
        "pieType": "donut",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "9.3.1",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_answer_rcodes_count{job=\"unbound\"} > 0",
          "instant": true,
          "legendFormat": "{{rcode}}",
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_answer_secure_count{job=\"unbound\"} > 0",
          "hide": false,
          "instant": true,
          "legendFormat": "secure",
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${Prometheus}"
          },
          "editorMode": "builder",
          "exemplar": false,
          "expr": "unbound_answer_bogus_count{job=\"unbound\"} > 0",
          "hide": false,
          "instant": true,
          "legendFormat": "bogus",
          "range": false,
          "refId": "C"
        }
      ],
      "title": "⧉ Response",
      "type": "piechart"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            }
          },
          "mappings": [],
          "noValue": "..."
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Allowed"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3ba0dbe0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Blocked"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#db8f3be0",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 12,
        "y": 12
      },
      "hideTimeOverride": false,
      "id": 177,
      "interval": "5m",
      "options": {
        "displayLabels": [],
        "legend": {
          "displayMode": "table",
          "placement": "right",
          "showLegend": true,
          "values": [
            "percent"
          ]
        },
        "pieType": "donut",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "sum by(dns) (count_over_time({dns=\"reply\"} [$__range]))",
          "legendFormat": "",
          "queryType": "instant",
          "refId": "A"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "sum by(dns) (count_over_time({dns=\"block\"} [$__range]))",
          "hide": false,
          "legendFormat": "",
          "queryType": "instant",
          "refId": "B"
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Queries",
      "transformations": [
        {
          "id": "calculateField",
          "options": {
            "alias": "",
            "binary": {
              "left": "Value #A",
              "operator": "-",
              "reducer": "sum",
              "right": "Value #B"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Value #A": true,
              "dns 1": true,
              "dns 2": true
            },
            "indexByName": {
              "Time": 0,
              "Value #A": 3,
              "Value #A - Value #B": 1,
              "Value #B": 2,
              "dns 1": 4,
              "dns 2": 5
            },
            "renameByName": {
              "Value #A - Value #B": "Allowed",
              "Value #B": "Blocked"
            }
          }
        }
      ],
      "type": "piechart"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "bars",
            "fillOpacity": 50,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 0,
            "pointSize": 0,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 18,
        "x": 0,
        "y": 19
      },
      "id": 179,
      "interval": "30m",
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi",
          "sort": "desc"
        }
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "count_over_time({dns=\"reply\"} | pattern `<_> <_> <_> <client> <_> <_> <_> <_> <_> <_> <_>` [$__interval])",
          "legendFormat": "{{client}}",
          "queryType": "range",
          "refId": "A",
          "resolution": 1
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Client Requests",
      "transformations": [
        {
          "id": "joinByField",
          "options": {
            "byField": "Time",
            "mode": "outer"
          }
        }
      ],
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "bars",
            "fillOpacity": 64,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 0,
            "pointSize": 0,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Allowed"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#4bbf71cc",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Blocked"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#c96354cc",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 6,
        "w": 9,
        "x": 0,
        "y": 25
      },
      "id": 181,
      "interval": "30m",
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "count_over_time({dns=\"reply\"} [$__interval])",
          "legendFormat": "{{dns}}",
          "queryType": "range",
          "refId": "A",
          "resolution": 1
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "count_over_time({dns=\"block\"} [$__interval])",
          "hide": false,
          "legendFormat": "{{dns}}",
          "queryType": "range",
          "refId": "B",
          "resolution": 1
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Queries",
      "transformations": [
        {
          "id": "joinByField",
          "options": {
            "byField": "Time",
            "mode": "outer"
          }
        },
        {
          "id": "convertFieldType",
          "options": {
            "conversions": [
              {
                "destinationType": "number",
                "targetField": "reply"
              },
              {
                "destinationType": "number",
                "targetField": "block"
              }
            ],
            "fields": {}
          }
        },
        {
          "id": "calculateField",
          "options": {
            "binary": {
              "left": "reply",
              "operator": "-",
              "reducer": "sum",
              "right": "block"
            },
            "mode": "binary",
            "reduce": {
              "reducer": "sum"
            }
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "reply": true
            },
            "indexByName": {
              "Time": 0,
              "block": 2,
              "reply": 3,
              "reply - block": 1
            },
            "renameByName": {
              "10.1.1.2": "",
              "10.1.1.3": "",
              "10.1.1.4": "",
              "10.1.1.5": "",
              "block": "Blocked",
              "reply - block": "Allowed"
            }
          }
        }
      ],
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#95ba59cc",
            "mode": "fixed"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "bars",
            "fillOpacity": 64,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 0,
            "pointSize": 0,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [
            {
              "options": {
                "1": {
                  "index": 0,
                  "text": "Active"
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 9,
        "x": 9,
        "y": 25
      },
      "id": 183,
      "interval": "30m",
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": false
        },
        "tooltip": {
          "mode": "multi",
          "sort": "asc"
        }
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "count by(client) (rate({dns=\"reply\"} | pattern `<_> <_> <_> <client> <_> <_> <_> <_> <_> <_> <_>` [$__interval]))",
          "legendFormat": "{{client}}",
          "queryType": "range",
          "refId": "A",
          "resolution": 1
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Live Clients",
      "transformations": [
        {
          "id": "joinByField",
          "options": {
            "byField": "Time",
            "mode": "outer"
          }
        }
      ],
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#868686f5",
            "mode": "fixed"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "filterable": false,
            "inspect": false,
            "minWidth": 100
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Domain"
            },
            "properties": [
              {
                "id": "custom.width"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3ba0dbe0",
                  "mode": "fixed"
                }
              },
              {
                "id": "custom.filterable",
                "value": true
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Client"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 114
              },
              {
                "id": "custom.filterable",
                "value": true
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3caa8ccc",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Count"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 300
              },
              {
                "id": "unit",
                "value": "short"
              },
              {
                "id": "custom.displayMode",
                "value": "lcd-gauge"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#549b88cc",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 14,
        "w": 10,
        "x": 0,
        "y": 31
      },
      "id": 187,
      "interval": "5m",
      "options": {
        "footer": {
          "fields": "",
          "reducer": [],
          "show": true
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Count"
          }
        ]
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "sum by(domain, client) (count_over_time({dns=\"reply\"} | pattern `<_> <_> <_> <client> <domain> <_> <_> <_> <_> <_> <_>` [$__range]))",
          "queryType": "instant",
          "refId": "A"
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Top Client Queries",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true
            },
            "indexByName": {
              "Time": 3,
              "Value #A": 2,
              "client": 1,
              "domain": 0
            },
            "renameByName": {
              "Value #A": "Count",
              "client": "Client",
              "domain": "Domain"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "fixed"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "filterable": false,
            "inspect": false,
            "minWidth": 100
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Domain"
            },
            "properties": [
              {
                "id": "custom.width"
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#af8762e0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Count"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 300
              },
              {
                "id": "custom.displayMode",
                "value": "lcd-gauge"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#9781a8c7",
                  "mode": "fixed"
                }
              },
              {
                "id": "unit",
                "value": "short"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 14,
        "w": 8,
        "x": 10,
        "y": 31
      },
      "id": 189,
      "interval": "5m",
      "options": {
        "footer": {
          "fields": "",
          "reducer": [],
          "show": true
        },
        "frameIndex": 2,
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Count"
          }
        ]
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "sum by(domain) (count_over_time({dns=\"block\"} | pattern `<_> <_> <_> <domain> <_> <_> <_> <_> <_>` [$__range]))",
          "hide": false,
          "queryType": "instant",
          "refId": "A"
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Top Blocked",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true
            },
            "indexByName": {
              "Time": 2,
              "Value #A": 1,
              "domain": 0
            },
            "renameByName": {
              "Value #A": "Count",
              "domain": "Domain"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#868686f5",
            "mode": "fixed"
          },
          "custom": {
            "align": "auto",
            "displayMode": "color-text",
            "filterable": false,
            "inspect": false,
            "minWidth": 100
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Domain"
            },
            "properties": [
              {
                "id": "custom.width"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3ba0dbe0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Client"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 114
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3caa8ccc",
                  "mode": "fixed"
                }
              },
              {
                "id": "custom.filterable",
                "value": true
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Reply"
            },
            "properties": [
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "custom.width",
                "value": 78
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Lookup"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 70
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "0": {
                        "color": "#a76dabdb",
                        "index": 1,
                        "text": "R"
                      },
                      "1": {
                        "color": "#269963e0",
                        "index": 0,
                        "text": "C"
                      }
                    },
                    "type": "value"
                  }
                ]
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Type"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 70
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 156
              },
              {
                "id": "unit",
                "value": "dateTimeAsIso"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 14,
        "w": 10,
        "x": 0,
        "y": 45
      },
      "id": 171,
      "interval": "5m",
      "options": {
        "footer": {
          "enablePagination": false,
          "fields": "",
          "reducer": [],
          "show": true
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Time"
          }
        ]
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "{dns=\"reply\"} | pattern `<_> <_> <_> <client> <domain> <type> <_> <_> <lookup_time> <cache> <_>`",
          "queryType": "range",
          "refId": "A"
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Live Queries",
      "transformations": [
        {
          "id": "extractFields",
          "options": {
            "replace": false,
            "source": "labels"
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Line": true,
              "Time": false,
              "blocked": true,
              "dns": true,
              "filename": true,
              "id": true,
              "job": true,
              "labels": true,
              "query": true,
              "redirect": true,
              "tsNs": true
            },
            "indexByName": {
              "Line": 7,
              "Time": 5,
              "cache": 3,
              "client": 1,
              "domain": 0,
              "filename": 10,
              "id": 9,
              "job": 11,
              "labels": 6,
              "lookup_time": 2,
              "tsNs": 8,
              "type": 4
            },
            "renameByName": {
              "cache": "Lookup",
              "client": "Client",
              "domain": "Domain",
              "lookup_time": "Reply",
              "rcode": "Response",
              "time": "Time",
              "time_to_resolve": "Reply",
              "type": "Type"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${DS_LOKI}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#868686f5",
            "mode": "fixed"
          },
          "custom": {
            "align": "auto",
            "displayMode": "color-text",
            "inspect": false,
            "minWidth": 100
          },
          "mappings": [],
          "noValue": "...",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Domain"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#af8762e0",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Client"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 114
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "#3caa8ccc",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 156
              },
              {
                "id": "unit",
                "value": "dateTimeAsIso"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 14,
        "w": 8,
        "x": 10,
        "y": 45
      },
      "id": 185,
      "interval": "5m",
      "options": {
        "footer": {
          "fields": "",
          "reducer": [],
          "show": true
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Time"
          }
        ]
      },
      "pluginVersion": "9.3.6",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${DS_LOKI}"
          },
          "editorMode": "builder",
          "expr": "{dns=\"block\"} | pattern `<_> <_> <_> <domain> <_> <client>@<_> <_> <_> <_>`",
          "queryType": "range",
          "refId": "A"
        }
      ],
      "timeFrom": "24h",
      "title": "⧉ Live Blocked",
      "transformations": [
        {
          "id": "extractFields",
          "options": {
            "replace": false,
            "source": "labels"
          }
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Line": true,
              "blocked": true,
              "dns": true,
              "filename": true,
              "id": true,
              "job": true,
              "labels": true,
              "query": true,
              "redirect": true,
              "tsNs": true
            },
            "indexByName": {
              "Line": 4,
              "Time": 2,
              "client": 1,
              "dns": 8,
              "domain": 0,
              "id": 6,
              "job": 7,
              "labels": 3,
              "tsNs": 5
            },
            "renameByName": {
              "client": "Client",
              "domain": "Domain"
            }
          }
        }
      ],
      "type": "table"
    }
  ],
  "refresh": "5m",
  "schemaVersion": 37,
  "style": "dark",
  "tags": [
    "unbound",
    "prometheus",
    "loki"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "hidden": false,
    "refresh_intervals": [
      "5m",
      "10m",
      "30m"
    ]
  },
  "timezone": "",
  "title": "Unbound",
  "uid": "PoPSynA4k",
  "version": 43,
  "weekStart": "monday",
  "gnetId": 18077,
  "description": "Unbound metrics & logs dashboard using Prometheus and Loki"
}
{% endraw %}
