version: '3.7'

networks:
  loki:

# Since only root has access to /var/lib/docker and I'm running the Grafana agent under its own user on the host itself, changing the permissions to that directory seemed like a bad idea to me. After a bit of research I figured out how to make this work using the journald driver, which works nicely.
# SOURCE: https://gist.github.com/ruanbekker/c6fa9bc6882e6f324b4319c5e3622460?permalink_comment_id=4009155#gistcomment-4009155
{% raw %}
x-logging:
  &default-logging
  driver: "journald"
  options:
    tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

# for the unifipoller bits
# https://github.com/unpoller/unpoller/blob/master/init/docker/docker-compose.yml
volumes:
    prometheus_data: {}
    grafana_data: {}
    netdataconfig:
    netdatalib:
    netdatacache:
    influxdb-storage:
    chronograf-storage:
    grafana-storage:
    alertmanager-data:
{% endraw %}

{% raw %}
services:
#   # SOURCE: https://doc.traefik.io/traefik/user-guides/docker-compose/basic-example/
#   # SOURCE: https://doc.traefik.io/traefik/user-guides/docker-compose/basic-example/
#   traefik:
#     image: "traefik:latest"
#     container_name: "traefik"
#     command:
#       # - "--log.level=DEBUG"
#       - "--api.insecure=true"
#       - "--providers.docker=true"
#       - "--providers.docker.exposedbydefault=false"
#       - "--entrypoints.web.address=:80"
#       - "--metrics.prometheus=true"
#     ports:
#       - "80:80"
#       - "8080:8080"
#     volumes:
#       - "/var/run/docker.sock:/var/run/docker.sock:ro"
#     networks:
#     - loki
#     logging:
#       driver: json-file
#       options:
#         tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
  loki-gateway:
    image: nginx:1.19
    container_name: "loki-gateway"
    depends_on:
      - 'loki-read'
      - 'loki-write'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
      - "3100:3100"
    networks:
      - loki
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  # Since the Loki containers are running as user 10001 and the mounted data volume is owned by root,
  # Loki would not have permissions to create the directories.
  # Therefore the init container changes permissions of the mounted directory.
  init:
    image: grafana/loki:2.8.2
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/loki"
    volumes:
      - ./loki:/loki
    networks:
      - loki

  minio:
    image: minio/minio
    container_name: minio
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/loki-data && \
        mkdir -p /data/loki-ruler &&
        minio server --console-address :9001 /data
    environment:
      - MINIO_ROOT_USER=loki
      - MINIO_ROOT_PASSWORD=supersecret
      - MINIO_PROMETHEUS_AUTH_TYPE=public
      - MINIO_UPDATE=off
      # - MINIO_ACCESS_KEY=admin
      # - MINIO_SECRET_KEY=password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./.data/minio:/data
    networks:
      - loki


  # for testing purposes only, disable in production
  log-generator:
    image: mingrammer/flog
    command:
      - --loop
      - --format=json
      - --number=10 # number of log lines to generate per second
      - --delay=100ms # delay between log lines
      - --output=/var/log/generated-logs.txt
      - --overwrite
      - --type=log
    volumes:
      - ./loki/:/var/log/

  whoami:
    image: "traefik/whoami:v1.8.0"
    container_name: "whoami"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.{{ fqdn }}`)"
      - "traefik.http.routers.whoami.entrypoints=web"
      - "traefik.http.services.whoami.loadbalancer.server.port=10080"
    expose:
      - 10080
    environment:
    #- TZ=UTC
    - WHOAMI_PORT_NUMBER=10080
    - WHOAMI_NAME=whoami
    ports:
    - 10080:10080
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  influxdb:
    restart: always
    image: influxdb:1.8
    container_name: influxdb
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.influxdb.rule=Host(`influxdb.{{ fqdn }}`)"
    - "traefik.http.routers.influxdb.entrypoints=web"
    - "traefik.http.services.influxdb.loadbalancer.server.port=8086"
    ports:
      - '8086:8086'
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB}
      - INFLUXDB_HTTP_AUTH_ENABLED=${INFLUXDB_HTTP_AUTH_ENABLED}
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      # SOURCE: https://docs.influxdata.com/influxdb/v1.8/administration/config/
      - INFLUXDB_META_LOGGING_ENABLED=1
      - INFLUXDB_HTTP_ENABLED=1
      - INFLUXDB_HTTP_LOG_ENABLED=1
      # - INFLUXDB_HTTP_AUTH_ENABLED=0
      - INFLUXDB_LOGGING_LEVEL=debug
      #- TZ=UTC
    env_file:
      - ./env
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  chronograf:
    restart: always
    image: chronograf:latest
    container_name: chronograf
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.chronograf.rule=Host(`chronograf.{{ fqdn }}`)"
    - "traefik.http.routers.chronograf.entrypoints=web"
    - "traefik.http.services.chronograf.loadbalancer.server.port=8888"
    ports:
      - '8888:8888'
    volumes:
      - chronograf-storage:/var/lib/chronograf
    depends_on:
      - influxdb
    environment:
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_USERNAME=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      #- TZ=UTC
    env_file:
      - ./env
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  # docker pull prom/prometheus:v2.31.1
  prometheus:
    image: prom/prometheus:v2.31.1
    container_name: prometheus
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.prometheus.rule=Host(`prometheus.{{ fqdn }}`)"
    - "traefik.http.routers.prometheus.entrypoints=web"
    - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
    expose:
    - 9090
    tty: true
    stdin_open: true
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.listen-address=0.0.0.0:9090'
      - '--log.level=debug'
      - '--enable-feature=remote-write-receiver'
      - '--query.lookback-delta=30s'
    ports:
      - 9090:9090
    links:
{% if cadvisor_feature_flag %}
      - cadvisor:cadvisor
{% endif %}
      - alertmanager:alertmanager
    depends_on:
{% if cadvisor_feature_flag %}
      - cadvisor
{% endif %}
      - alertmanager
    restart: always

    # environment:
    #- TZ=UTC
    # SEE: https://stackoverflow.com/questions/31324981/how-to-access-host-port-from-docker-container/43541732#43541732
    # https://stackoverflow.com/questions/56909896/prometheus-in-docker-container-cannot-scrape-target-on-host/56910057
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.node-exporter.rule=Host(`node-exporter.{{ fqdn }}`)"
    - "traefik.http.routers.node-exporter.entrypoints=web"
    - "traefik.http.services.node-exporter.loadbalancer.server.port=9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      # - --collector.filesystem.ignored-mount-points
      # - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
      -  '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    expose:
    - 9100
    ports:
      - 9100:9100
    restart: always
    deploy:
      mode: global
    # environment:
    #- TZ=UTC
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.alertmanager.rule=Host(`alertmanager.{{ fqdn }}`)"
    - "traefik.http.routers.alertmanager.entrypoints=web"
    - "traefik.http.services.prometheus.loadbalancer.server.port=9093"
    tty: true
    stdin_open: true
    expose:
    - 9093
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager/:/etc/alertmanager/
      - alertmanager-data:/data
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--log.level=debug'
    # environment:
    #- TZ=UTC
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

{% if cadvisor_feature_flag %}
  cadvisor:
    # SOURCE: https://github.com/rafaribe/home-ops/blob/d9e283fd3ddc42a9891c8a12fe82fa128657798a/provision/ansible/backup-server/roles/syncthing/templates/agent.yml
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    privileged: true
    userns_mode: "host"
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.cadvisor.rule=Host(`cadvisor.{{ fqdn }}`)"
    - "traefik.http.routers.cadvisor.entrypoints=web"
    - "traefik.http.services.cadvisor.loadbalancer.server.port=8081"
    volumes:
        - /:/rootfs:ro
        - /var/run:/var/run:ro
        - /sys:/sys:ro
        - /var/lib/docker/:/var/lib/docker:ro
        - /dev/disk/:/dev/disk:ro
        - /etc/machine-id/:/etc/machine-id:ro
    devices:
        - /dev/kmsg:/dev/kmsg:ro
    ports:
        - "8081:8081"
    expose:
      - 8081
    restart: always
    entrypoint:
      - /usr/bin/cadvisor
      # - --v=6
      - '--listen_ip=0.0.0.0'
      - '--port=8081'
      - --logtostderr
    env_file:
      - ./env
    # environment:
    #- TZ=UTC
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}
{% endif %}

  blackbox:
    image: prom/blackbox-exporter
    privileged: true
    container_name: blackbox
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.blackbox.rule=Host(`blackbox.{{ fqdn }}`)"
    - "traefik.http.routers.blackbox.entrypoints=web"
    - "traefik.http.services.blackbox.loadbalancer.server.port=9115"
    tty: true
    stdin_open: true
    ports:
    - "9115:9115/tcp"
    - "9115:9115/udp"
    expose:
    - 9115
    volumes:
    - ./blackbox/config:/config
    command:
      - '--config.file=/config/blackbox.yml'
      - '--web.listen-address=:9115'

    restart: always
    deploy:
      mode: global
    #environment:
    #- TZ=UTC
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  heimdall:
    image: linuxserver/heimdall
    build: ./docker-heimdall
    container_name: heimdall
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      #- TZ=UTC
    volumes:
      - ./docker-heimdall/config:/config
    ports:
      - 4040:4040
      - 4443:4443
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.heimdall.rule=Host(`heimdall.{{ fqdn }}`)"
    - "traefik.http.routers.heimdall.entrypoints=web"
    - "traefik.http.services.heimdall.loadbalancer.server.port=4040"
    tty: true
    stdin_open: true
    expose:
    - 4040
    - 4443
    networks:
    - loki
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}


  unifi-poller:
    restart: always
    # 2023: Use -> ghcr.io/unpoller/unpoller:${POLLER_TAG}
    image: golift/unifi-poller:${POLLER_TAG}
    ports:
      - "9130:9130/tcp"
      - "9130:9130/udp"
      - "37288:37288"
    container_name: unifi-poller
    tty: true
    stdin_open: true
    env_file:
      - ./env
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.unifipoller.rule=Host(`unifi-poller.{{ fqdn }}`)"
    - "traefik.http.routers.unifipoller.entrypoints=web"
    - "traefik.http.services.unifipoller.loadbalancer.server.port=37288"
    depends_on:
      - influxdb
      - grafana
    environment:
    - UP_WEBSERVER_ENABLE=true
    networks:
    - loki


  loki-read:
    image: grafana/loki:2.8.2
    volumes:
      # - ./config:/etc/loki/
      # - ./loki/etc/loki:/etc/loki/
      - ./loki/etc/loki:/loki
      - ./rules:/loki/rules:ro
    ports:
      # - 3101:3100
      # - 7946
      - "9095"
      #- "3101:3100"
      - "3100"
      - "7946"
      # uncomment to use interactive debugging
      # - "40000-40002:40000" # # makes the replicas available on ports 40000, 40001, 40002
    #cap_add:
    #  - SYS_PTRACE
    #security_opt:
    #  - apparmor=unconfined
    command: "-config.file=/loki/loki-config.yaml -log.level=debug -target=read"
    env_file:
      - ./env
    networks:
      - loki
    depends_on:
      - minio
    restart: always
    deploy:
      mode: replicated
      replicas: 3
    # only needed for interactive debugging with dlv
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

  loki-write:
    image: grafana/loki:2.8.2
    volumes:
      # - ./config:/etc/loki/
      - ./loki/etc/loki:/loki
    ports:
      - "9095"
      #- "3102:3100"
      - "3100"
      - "7946"
      # uncomment to use interactive debugging
      # - "50000-50002:40000" # makes the replicas available on ports 50000, 50001, 50002
    #cap_add:
    #  - SYS_PTRACE
    #security_opt:
    #  - apparmor=unconfined
    command: "-config.file=/loki/loki-config.yaml -log.level=debug -target=write -frontend.downstream-url=http://loki-gateway:3100 -querier.frontend-address=http://loki-write:9095"
    env_file:
      - ./env
    networks:
      - loki
    depends_on:
      - minio
    restart: always
    deploy:
      mode: replicated
      replicas: 3
{% raw %}
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}

#   loki:
#     restart: always
#     image: grafana/loki:2.8.2
#     ports:
#       - "3100:3100/tcp"
#       - "9096:9096"
#     container_name: loki
#     tty: true
#     stdin_open: true
#     env_file:
#       - ./env
#     volumes:
#     - ./loki/etc/loki:/loki
#     labels:
#     - "traefik.enable=true"
#     - "traefik.http.routers.loki.rule=Host(`loki.{{ fqdn }}`)"
#     - "traefik.http.routers.loki.entrypoints=web"
#     - "traefik.http.services.loki.loadbalancer.server.port=3100"
#     command: -config.file=/loki/loki-config.yaml
#     networks:
#     - loki
{% raw %}
#     logging:
#       driver: json-file
#       options:
#         tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
{% endraw %}


  promtail:
    # SOURCE: https://github.com/gilmrt/docker-compose/blob/5d8d7b3746fba48ba5f559f9913e56ae3d881eee/metrics/docker-compose.yml
    container_name: promtail
    image: grafana/promtail:2.8.2
    restart: always
    depends_on:
      - 'loki-gateway'
    volumes:
      # - /var/log:/var/log:ro
      - ./promtail/promtail-gateway.yaml:/etc/promtail/promtail-gateway.yaml:ro
      # - ./promtail/promtail-debug.yaml:/etc/promtail/promtail-debug.yaml:rw
      # - /var/log/journal/:/var/log/journal/:ro
      # - /run/log/journal/:/run/log/journal/:ro
      - /etc/machine-id:/etc/machine-id:ro
      - ./promtail/var/run/promtail:/var/run/promtail
      # - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # - /home/pi/dev/bossjones/elk-docker/rsyslog-conf/log:/log
      # so we can get generated logs
      - ./loki/:/var/log/:ro
    ports:
      - "9080:9080"
    expose:
    - 9080
    command: -config.file=/etc/promtail/promtail-gateway.yaml -print-config-stderr -log-config-reverse-order
    # environment:
    #- TZ=UTC
    tty: true
    stdin_open: true
    env_file:
      - ./env
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.promtail.rule=Host(`promtail.{{ fqdn }}`)"
    - "traefik.http.routers.promtail.entrypoints=web"
    - "traefik.http.services.promtail.loadbalancer.server.port=9080"
    # depends_on:
    # - loki
    networks:
    - loki

  grafana:
    image: grafana/grafana
    container_name: grafana
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.grafana.rule=Host(`grafana.{{ fqdn }}`)"
    - "traefik.http.routers.grafana.entrypoints=web"
    - "traefik.http.services.grafana.loadbalancer.server.port=3000"
    depends_on:
      - prometheus
      - loki-gateway
    expose:
    - 3000
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./env
    restart: always
    # entrypoint:
    #   - sh
    #   - -euc
    #   - |
    #     mkdir -p /etc/grafana/provisioning/datasources
    #     cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
    #     apiVersion: 1
    #     datasources:
    #     - name: Loki
    #       type: loki
    #       access: proxy
    #       orgId: 1
    #       url: http://loki:3100
    #       basicAuth: false
    #       isDefault: true
    #       version: 1
    #       editable: false
    #     EOF
    #     /run.sh
    environment:
    #- TZ=UTC
    - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,grafana-piechart-panel
    - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    - GF_AUTH_ANONYMOUS_ENABLED=true
    - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    networks:
    - loki
